[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
black = "*"
pytest-env = "*"
pytest-cov = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flasgger = "*"
uwsgi = "*"
flask-jwt-extended = "*"
marshmallow = "*"
apispec = "*"
python-dotenv = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
